@import "tailwindcss";

:root {
  font-family: "Figtree" system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* max-width: 1280px; */
}

body {
  margin: 0;
}

h1 {
  line-height: 1.1;
}

.foot {
  h4 {
    color: #122231;
  }
  ul {
    li {
      &:hover {
        color: #1f9ae3;
      }
    }
  }
}
