@import "tailwindcss";

:root {
  font-family: "Figtree" system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

h1 {
  line-height: 1.1;
}

.foot {
  h4 {
    color: #122231;
    font-size: 14px;
    font-weight: 500;
  }
  ul {
    color: #485f6e;
    li {
      font: 14px;
      &:hover {
        color: #1f9ae3;
      }
    }
  }
}
